body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1, h2 {
    font-weight: bold;
    color: #5C4033; 
}

h4 {
    font-weight: bold;
    color: #006400; 
}

img {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
