body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a0d368; 
}

h1, h2 {
    font-weight: bold;
    color: #2b1206; 
}
    
h4 {
    font-weight: bold;
    color: #0a310a; 
    transition: transform 0.3s ease, color 0.3s ease; /* Persiapan transisi mulus */
}

h4:hover {
    transform: translateX(10px); 
    color: #785aac; 
}


img {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
.btn-primary {
    background-color: #785aac;
    border-color: #785cb9;
}

.btn-primary:hover {
    background-color: #5C4033;
    border-color: #5C4033;
}

.form-control:focus {
    border-color: #785aac;
    box-shadow: 0 0 0 0.25rem rgba(120, 90, 172, 0.25);
}

.bg-dark {
    background-color: #3E2723 !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #3b0707 !important; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
p {
    line-height: 1.7;
    font-size: 1.05rem;
}
#kontak input, 
#kontak textarea, 
#kontak button {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#menu p {
    font-weight: bold;
    font-size: 1.15rem;
    color: #2b1206; 
}
.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

h2 {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}
.form-control {
    border-radius: 12px;
    background-color: #f4ffe6; 
    border: 1px solid #785aac;
}

#menu p, #tim p {
    margin-bottom: 2.5rem;
}
