body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-weight: bold;
    color: #2b1206; 
}

h4 {
    font-weight: bold;
    color: #0a310a; 
}

img {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #006400;
    border-color: #006400;
}

.btn-primary:hover {
    background-color: #5C4033;
    border-color: #5C4033;
}
.bg-dark {
    background-color: #3E2723 !important;
}
